name: Build and Publish Docker 

on:
  push:
    paths:
      - 'build-yocto/Dockerfile-*'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Login to GitHub Packages
      uses: docker/login-action@v1
      with:
        registry: docker.pkg.github.com
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name:  Build and Push Docker Image
      run: |
          docker build -t docker.pkg.github.com/${{ github.repository }}/build-yocto-ubuntu -f build-yocto/Dockerfile .
          docker push docker.pkg.github.com/${{ github.repository }}/build-yocto-ubuntu
